{% extends 'main.html'%}

{% block content %}


<nav>
    <ul>
       
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</nav>

<section>
    <h2>Section Title</h2>
    <p>Section content goes here.</p>
</section>

<footer>
    {% comment %} {{rooms}} {% endcomment %}
    <div>
        <a href = "{url 'createroom'}"></a>

        {% for room in rooms%}
        {% comment %} {%if room.host.username == "righteous"%} {% endcomment %}
        <span>@{{room.host.username}}</span> <br>
        
        <span>@{{room.host.username}}</span> <br>
        
        {% comment %} {% endif %} {% endcomment %}
        {% endfor %}
        
    </div>
    
    {% comment %} {{roomss}} {% endcomment %}
</footer>

{% endblock content %}
